#ccclt-fake-customer {
  height: 115px;
  width: 265px;
  position: fixed;
  z-index: 1000000000;
  display: flex;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#ccclt-fake-customer__close-button {
  position: relative;
  top: 2px;
  right: 5px;
  font-size: 9px;
  color: gray;
  cursor: pointer;
}

#ccclt-fake-customer__avatar {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5px;
}

#ccclt-fake-customer__avatar img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#ccclt-fake-customer__info {
  box-sizing: border-box;
  width: 75%;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ccclt-fake-customer__info__title,
#ccclt-fake-customer__info__body,
#ccclt-fake-customer__info__page-url {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#ccclt-fake-customer__info__title {
  font-weight: bold;
  -webkit-line-clamp: 1; /* number of lines to show */
}

#ccclt-fake-customer__info__body {
  padding-top: 5px;
  font-size: 10px;
  line-height: 15px;
  -webkit-line-clamp: 3; /* number of lines to show */
}

#ccclt-fake-customer__info__page-url {
  padding-top: 5px;
  font-size: 10px;
  -webkit-line-clamp: 1; /* number of lines to show */
}

#ccclt-fake-customer__footer {
  position: relative;
  top: 90%;
  right: 2%;
  font-size: 7px;
  color: gray;
  display: flex;
}

#ccclt-fake-customer__footer img {
  width: 10px;
  height: 7.5px;
}

.ccclt-fake-customer__bottom-left {
  bottom: 5%;
  left: 1%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.ccclt-fake-customer__bottom-right {
  bottom: 5%;
  right: 1%;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.ccclt-fake-customer__top-left {
  top: 5%;
  left: 1%;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.ccclt-fake-customer__top-right {
  top: 5%;
  right: 1%;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  60% {
    opacity: 1;
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  60% {
    opacity: 1;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
