@font-face {
  font-family: primaryFont;
  src: url("../fonts/CORBEL.TTF");
} 

input:focus {
  outline: none !important;
}
button:focus {
  outline: none;
  opacity: 0.8;
}

#ccclt-send-info-popup__container {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999998;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: primaryFont !important;
}

#ccclt-send-info-popup {
  position: fixed;
  z-index: 999999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: white;
  border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#ccclt-send-info-popup__header {
  width: 100%;
  height: 18px;
}

#ccclt-send-info-popup__close-button {
  color: silver;
  position: relative;
  left: 96%;
  top: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#ccclt-send-info-popup__content {
  width: 100%;
  height: 98%;
}

#ccclt-send-info-popup__form {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-left: 30px;
}

#ccclt-send-info-popup__form__title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 10px 0 10px 0;
}

#ccclt-send-info-popup__form__notice {
  color: gray;
  font-size: 12px;
  text-align: justify;
  padding: 5px 0 7px 0;
  line-height: 15px;
}

.ccclt-send-info-popup__form__input {
  margin: 0;
  margin-top: 8px;
  background-color: whitesmoke;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 0 10px 0;
  width: 100%;
  border: 0;
  border-radius: 5px;
  text-align: center;
}

#ccclt-send-info-popup__supporter__info {
  width: 42.5%;
  height: 90%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}

#ccclt-send-info-popup__supporter__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: table;
  margin: 0 auto;
  margin-bottom: 15px;
}

#ccclt-send-info-popup__supporter__name {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 14px;
}

#ccclt-send-info-popup__supporter__major {
  color: gray;
  font-size: 12px;
  padding-top: 2px;
}

#ccclt-send-info-popup__supporter__phone-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#ccclt-send-info-popup__supporter__phone-number {
  padding-left: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

#ccclt-send-info-popup__send-info-button {
  border: 0;
  color: white;
  padding: 6px;
  width: 100%;
  font-weight: bold;
  margin: 0;
  margin-top: 15px;
  min-height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

#ccclt-send-info-popup__send-info-button:hover {
  opacity: 0.8;
}

#ccclt-send-info-popup__notification {
  height: 50px;
  font-size: 11px;
  text-align: center;
  line-height: 16px;
  display: none;
}

#ccclt-send-info-popup__footer {
  width: 98.5%;
  text-align: right;
  position: relative;
  top: 0;
}

#ccclt-send-info-popup__footer > img {
  width: 11px;
  height: 8px;
  margin-top: 5px;
}

#ccclt-send-info-popup__footer > span {
  color: gray;
  font-size: 9px;
}

#ccclt-send-info-popup__open-popup-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  z-index: 1000000000;
  transform: translateX(-100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background-size: 100% 100%;
  cursor: pointer;
  transition: 0.2s;
}

.ccclt-send-info-popup__bottom-left {
  bottom: 3%;
  left: 4%;
}

.ccclt-send-info-popup__bottom-right {
  bottom: 3%;
  left: 98%;
}

.ccclt-send-info-popup__center-right {
  top: 47%;
  left: 98%;
}

.ccclt-send-info-popup__center-left {
  top: 47%;
  left: 4%;
}

.ccclt-send-info-popup__top-left {
  top: 3%;
  left: 4%;
}

.ccclt-send-info-popup__top-right {
  top: 3%;
  left: 98%;
}

#ccclt-send-info-popup__say-hello-label {
  background: crimson;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 3px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  float: right;
  margin: -5px -5px 0 0;
  animation: 0.8s alertAnimation infinite;
}

@keyframes alertAnimation {
  from {
    transform: scale(1.07, 1.07);
  }
  to {
    transform: scale(1, 1);
  }
}

.ccclt-send-info-popup__icon {
  height: 16px;
  width: 16px;
}

.ccclt-send-info-popup__hide {
  display: none;
}

.ccclt-send-info-popup__href-link {
  text-decoration: none;
}

.ccclt-send-info-popup__clear {
  clear: both;
}

#ccclt-send-info-popup__info-dialog__container {
  position: fixed;
  z-index: 100000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ccclt-send-info-popup__info-dialog {
  background: white;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 15px 20px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  animation-duration: 0.5s;
  animation-name: bounceIn;
}

#ccclt-send-info-popup__info-dialog__message {
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  padding: 10px 0 5px 0;
}

#ccclt-send-info-popup__info-dialog__close-button {
  background: #eee;
  border: 0.5px solid #f1f3f4;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#ccclt-send-info-popup__info-dialog__close-button:hover {
  opacity: 0.9;
}

#ccclt-send-info-popup__info-dialog > img {
  width: 36px;
}

/* Large Desktop */
@media screen and (max-width: 2000px) {
  #ccclt-send-info-popup {
    width: 35%;
    height: 400px;
  }
}

/* Desktop */
@media screen and (max-width: 1200px) {
  #ccclt-send-info-popup {
    width: 50%;
  }
}

/* Laptop */
@media screen and (max-width: 992px) {
  #ccclt-send-info-popup {
    width: 65%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  #ccclt-send-info-popup {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  #ccclt-send-info-popup {
    width: 95%;
  }

  #ccclt-send-info-popup__content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  #ccclt-send-info-popup__form {
    clear: left;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  #ccclt-send-info-popup__supporter__info {
    display: none;
  }

  #ccclt-send-info-popup__close-button {
    left: 94%;
  }

  #ccclt-send-info-popup__footer {
    top: 5%;
    text-align: center;
  }
}
